<p id="notice"><%= notice %></p>

<h1>Listing Musics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Link</th>
      <th>Musics</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.title %></td>
        <td><%= music.artist %></td>
        <td><%= music.link %></td>
        <td><%= podloveaudio(src: 'https://www.dropbox.com/s/j3eohsd0i9tatjk/Dj_Jura_Fin_-_Bazooka.mp3', duration: '', title: music.title, artist: music.artist) %></td>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>

<%= will_paginate @musics %>
